@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #06b6d4;
  --color-danger: #ef4444;
  --color-success: #10b981;
  /* Dark */
  --color-dark-primary: #6366f1;
  --color-dark-secondary: #22d3ee;
  --color-dark-danger: #f87171;
  --color-dark-success: #34d399;

  /* BG */
  --color-bg-main: #f9fafb;
  --color-bg-surface: #ffffff;
  --color-bg-card: #ffffff;
  /* BG Dark */
  --color-bg-dark-main: #0f172a;
  --color-bg-dark-surface: #1e293b;
  --color-bg-dark-card: #111827;

  /* TEXT */
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  /* TEXT Dark */
  --color-text-dark-primary: #f9fafb;
  --color-text-dark-secondary: #9ca3af;
}

/* TODO Add Fonts */
